<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="islamic.ebadaty">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_ebadaty"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="islamic.ebadaty.About"/>
        <activity android:name="islamic.ebadaty.MainActivity"/>
        <activity android:name="islamic.ebadaty.WorshipReward"/>
        <activity android:name="islamic.ebadaty.WorshipRewardContent"/>
        <activity android:name="islamic.ebadaty.WorshipRewardOnly"/>

    </application>

</manifest>